import os

from django_hyperlink.public_settings import *


SECRET_KEY = ''
DEBUG = bool(int(os.environ.get('DEBUG', 0)))
LOCALRUN = bool(int(os.environ.get('TEST', 0)))
ALLOWED_HOSTS = ['*', ]

EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

TG_TOKEN = ''

if DEBUG:
    DEBUG_TOOLBAR_CONFIG = {
        'SHOW_TOOLBAR_CALLBACK': lambda x: True,
        'RESULTS_STORE_SIZE': 100,
    }

if LOCALRUN:
    CORS_ALLOW_ALL_ORIGINS = True
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': "db.sqlite3",
        }
    }
    REDIS_HOST = 'localhost'
    CELERY_BROKER_URL = os.environ.get('CELERY_BROKER', f'redis://{REDIS_HOST}:{REDIS_PORT}/0')
    CELERY_RESULT_BACKEND = os.environ.get('CELERY_BACKEND', f'redis://{REDIS_HOST}:{REDIS_PORT}/0')

