from django_hyperlink.public_settings import *


SECRET_KEY = 'secret'
DEBUG = bool(int(os.environ.get('DEBUG', 0)))
TEST = bool(int(os.environ.get('TEST', 0)))
ALLOWED_HOSTS = ['*', ]

EMAIL_HOST_USER = '@gmail.com'
EMAIL_HOST_PASSWORD = ''

if DEBUG:
    CORS_ALLOW_ALL_ORIGINS = True
    DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': "db.sqlite3",
        }
    }