{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block head %}
    <script src="{% static "users/js/register.js" %}?reload={% random_int 1 999999 %}"></script>
{% endblock %}
{% block container %}
    <form action="">
    <label for="username-input">Username</label>
    <input type="text" id="username-input" placeholder="Имя пользователя" class="form-control">
    <label for="email-input">Email</label>
    <input type="email" id="email-input" placeholder="Email" class="form-control">
    <label for="pass1-input">Password</label>
    <input type="text" id="pass1-input" placeholder="Пароль" class="form-control">
    <label for="pass2-input">Password again</label>
    <input type="text" id="pass2-input" placeholder="Повторите пароль" class="form-control">
    <button class="btn btn-primary" id="submit-btn" type="submit">Регистрация</button>
    <p class="error" style="color:red;"></p>
    </form>
{% endblock %}